<%= form_for([@post, @comment], html: { class: 'form-vertical' }) do |f| %>

  <% if @comment.errors.any? %>
    <div class="alert alert-error">
      <h2><%= t('activerecord.errors.template.header', model: Comment.model_name.human, count: @comment.errors.count) %></h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :author, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, required: true, placeholder: t('name') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :body, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, required: true, class: 'span6', placeholder: t('markdown') %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>

