<li><%= link_to :new_post do %><i class="icon-plus"></i> <%= t(:new_post) %><% end %></li>
<li><%= link_to :posts do %><i class="icon-book"></i> <%= t(:posts) %><% end %></li>
<li><%= link_to :categories do %><i class="icon-folder-open-alt"></i> <%= t(:categories) %><% end %></li>
<li><%= link_to :uploads do %><i class="icon-upload-alt"></i> <%= t(:uploads) %><% end %></li>
<li><%= link_to :sign_out, method: 'delete' do %><i class="icon-signout"></i> <%= t(:sign_out) %><% end %></li>

