<div class="span3">
  <div class="well well-small">
    <ul class="nav nav-list">
      <li class="nav-header">
        <%= t(:categories) %>
      </li>
      <li class="divider"></li>

      <% @categories.each do |category| %>
      <li><%= link_to "#{category.name(current_lang)} (#{category.posts.count})", category %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="span3">
  <div class="well well-small">
    <ul class="nav nav-list">
      <li class="nav-header">
        <%= link_to(t(:tags), :tags) %>
      </li>
      <li class="divider"></li>

      <% @top_tags.each do |tag| %>
      <li><%= link_to "#{tag[:name]} (#{tag[:count]})", tag_path(tag[:name]) %></li>
      <% end %>
    </ul>
  </div>
</div>


<div class="span3">
  <div class="well well-small">
    <ul class="nav nav-list">
      <li class="nav-header"><%= t(:admin) %></li>
      <li class="divider"></li>

      <% if user_signed_in? %>
        <%= render 'shared/admin_menu' %>
      <% else %>
        <li><%= link_to t(:sign_in), :sign_in %></li>
      <% end %>
    </ul>
  </div>
</div>

