<% if user_signed_in? %>
  <ul class="unstyled">
    <% if controller.action_name == 'show' %>
      <li>
        <%= link_to edit_post_path(@post) do %>
          <i class="icon-pencil"></i> <%= t(:edit_post) %>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to :new_post do %>
        <i class="icon-plus"></i> <%= t(:new_post) %>
      <% end %>
    </li>
    <% unless current_page?(action: :index) %>
      <li>
        <%= link_to :posts do %>
          <i class="icon-book"></i> <%= t(:list_posts) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
