<div class="page-header">
  <h2><%= link_to(highlight_queries(post.title(current_lang)), post) %></h2>
</div>

<ul class="unstyled inline">
  <li><%= time_ago(post.created_at) %></li>
  <li><%= link_to(post.category.name(current_lang), post.category) %></li>
</ul>

<div>
<%= truncate(highlight_queries(post.html(current_lang))) %>
</div>

<p>
  <%= t('comments') %> (<%= post.comments.current(current_lang).count %>)
</p>

<hr />
