<% title = @post.title(current_lang) %>
<% content_for(:title) { title } %>

<ul class="nav nav-pills">
  <%= lang_list(@post, labeled: false) %>
</ul>

<div class="page-header">
  <h1><%= link_to(title, @post) %></h1>
</div>

<div class="row">
  <div class="span3">
    <p>
      <%= link_to(@post.category.name(current_lang), @post.category) %>
    </p>
  </div>
  <div class="span3">
    <p>
      <%= t(:created_at) %> 
      <%= time_ago(@post.created_at) %>
    </p>
  </div>
  <div class="span3">
    <p>
      <%= t(:updated_at) %>
      <%= time_ago(@post.updated_at) %>
    </p>
  </div>
</div>

<ul class="unstyled inline">
  <%= tag_list(@post) %>
</ul>

<%= @post.html(current_lang).html_safe %>

<div class="row">
  <div class="span1">
    <p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="vertical">Tweet</a>
    </p>
  </div>
  <div class="span1">
    <div class="fb-like" data-send="false" data-layout="box_count" data-width="150" data-show-faces="false"></div>
  </div>
</div>

<% if @post.versions(current_lang).present? %>
<p>
  <%= link_to("#{t('histories')} (#{@post.versions(current_lang).length})", post_versions_path(@post)) %>
</p>
<% end %>

<%= render 'posts/links' %>

<hr />

<p>
  <%= t('comments') %> (<%= @post.comments.current(current_lang).count %>)
</p>

<dl>
<%= render @post.comments.current(current_lang) %>
</dl>

<%= render 'comments/form' %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


