<%= form_for(@category, html: { class: 'form-horizontal' }) do |f| %>

  <% if @category.errors.any? %>
    <div class="alert alert-error">
      <h2><%= t('activerecord.errors.template.header', model: Category.model_name.human, count: @category.errors.count) %></h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :names, class: 'control-label' %>
    <div class="controls">

      <div class="tabbable tabs-below">
        <div class="tab-content">
          <% @langs.each do |lang| %>
            <div class="tab-pane <%= 'active' if lang == Lang.primary %>" id="<%= lang.code %>">
              <p>
              <%= text_field_tag "category[names][#{lang.code}]", @category.names[lang.code], required: (lang == @langs.first), autofocus: (lang == @langs.first) %>
              </p>
            </div>
          <% end %>
        </div>
        <ul class="nav nav-pills">
          <% @langs.each do |lang| %>
            <li class="<%= 'active' if lang == Lang.primary %>">
              <%= link_to t(lang.code), "##{lang.code}", data: { toggle: 'tab' } %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

  <div class="control-group">
    <%= f.label :slug, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :slug %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit class: 'btn btn-primary'  %>
      <%= link_to t(:cancel), :categories, class: 'btn'  %>
    </div>
  </div>

<% end %>

<%= render 'links' %>
