<% title = t(:list_uploads) %>
<% content_for(:title) { title } %>

<div class="page-header">
  <h1><%= title %></h1>
</div>


<ul class="media-list">

  <% @uploads.each do |upload| %>
  <li class="media">
    <%= link_to upload.src, class: 'pull-left' do %>
      <% if upload.is_image? %>
        <%= image_tag upload.src, class: 'media-object img-polaroid', width: '64' %>
      <% else %>
        <%= image_tag 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', class: 'media-object img-polaroid', size: '64x64' %>
      <% end %>
    <% end %>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to upload.filename, upload.src %> <small><%= time_ago(upload.created_at) %></small></h4>
      <% if user_signed_in? %>
        <%= link_to upload, method: :delete, data: { confirm: t(:sure) }, class: 'btn btn-danger btn-small', title: t(:delete) do %>
          <i class="icon-remove"></i>
          <%= t(:delete) %>
        <% end %>
      <% end %>
    </div>
  </li>
  <% end %>

</ul>

<%= page_entries_info(@uploads, entry_name: Upload.model_name.human) %>
<%= paginate @uploads, param_name: :p %>

<% if user_signed_in? %>
  <%= form_for(@upload, html: { class: 'form-vertical js_upload_new' }) do |f| %>

    <% if @upload.errors.any? %>
      <div class="alert alert-error">
        <h2><%= t('activerecord.errors.template.header', model: Upload.model_name.human, count: @upload.errors.count) %></h2>

        <ul>
        <% @upload.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :file, class: 'control-label' %>
      <div class="controls">
        <%= f.file_field :file %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="row">
      <div class="js_upload_drop span1 well text-center">
      </div>
    </div>
  <% end %>

<% end %>

